@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 21.0526% 92.549%;
    --foreground: 188.8 78.9474% 18.6275%;
    --card: 180 23.8095% 95.8824%;
    --card-foreground: 188.8 78.9474% 18.6275%;
    --popover: 180 23.8095% 95.8824%;
    --popover-foreground: 188.8 78.9474% 18.6275%;
    --primary: 207.1429 92.9204% 55.6863%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 28.8136% 88.4314%;
    --secondary-foreground: 188.8 78.9474% 18.6275%;
    --muted: 180 19.2308% 89.8039%;
    --muted-foreground: 184 31.25% 37.6471%;
    --accent: 184 38.4615% 84.7059%;
    --accent-foreground: 188.8 78.9474% 18.6275%;
    --destructive: 0 62.449% 51.9608%;
    --destructive-foreground: 0 0% 100%;
    --border: 185.7143 26.5823% 84.5098%;
    --input: 180 28.8136% 88.4314%;
    --ring: 183.9706 91.8919% 29.0196%;
    --chart-1: 183.9706 91.8919% 29.0196%;
    --chart-2: 183.5294 69.3878% 38.4314%;
    --chart-3: 183.5556 55.102% 48.0392%;
    --chart-4: 183.7168 53.5545% 58.6275%;
    --chart-5: 183.6145 54.9669% 70.3922%;
    --sidebar: 186.3158 34.5455% 89.2157%;
    --sidebar-foreground: 188.8 78.9474% 18.6275%;
    --sidebar-primary: 183.9706 91.8919% 29.0196%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 184 38.4615% 84.7059%;
    --sidebar-accent-foreground: 188.8 78.9474% 18.6275%;
    --sidebar-border: 185.7143 26.5823% 84.5098%;
    --sidebar-ring: 183.9706 91.8919% 29.0196%;
    --font-sans: Courier New, monospace;
    --font-serif: Courier New, monospace;
    --font-mono: Courier New, monospace;
    --radius: 0.125rem;
    --shadow-2xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
    --shadow-xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
    --shadow-sm: 1px 1px 2px 0px hsl(185 70% 30% / 0.15),
      1px 1px 2px -1px hsl(185 70% 30% / 0.15);
    --shadow: 1px 1px 2px 0px hsl(185 70% 30% / 0.15),
      1px 1px 2px -1px hsl(185 70% 30% / 0.15);
    --shadow-md: 1px 1px 2px 0px hsl(185 70% 30% / 0.15),
      1px 2px 4px -1px hsl(185 70% 30% / 0.15);
    --shadow-lg: 1px 1px 2px 0px hsl(185 70% 30% / 0.15),
      1px 4px 6px -1px hsl(185 70% 30% / 0.15);
    --shadow-xl: 1px 1px 2px 0px hsl(185 70% 30% / 0.15),
      1px 8px 10px -1px hsl(185 70% 30% / 0.15);
    --shadow-2xl: 1px 1px 2px 0px hsl(185 70% 30% / 0.38);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 196.3636 52.381% 8.2353%;
    --foreground: 180 77.1144% 60.5882%;
    --card: 192 51.0204% 9.6078%;
    --card-foreground: 180 77.1144% 60.5882%;
    --popover: 192 51.0204% 9.6078%;
    --popover-foreground: 180 77.1144% 60.5882%;
    --primary: 180 77.1144% 60.5882%;
    --primary-foreground: 196.3636 52.381% 8.2353%;
    --secondary: 191.4286 58.8785% 20.9804%;
    --secondary-foreground: 180 77.1144% 60.5882%;
    --muted: 192.8571 58.3333% 14.1176%;
    --muted-foreground: 180 50.6849% 42.9412%;
    --accent: 191.4286 58.8785% 20.9804%;
    --accent-foreground: 180 77.1144% 60.5882%;
    --destructive: 0 78.8991% 57.2549%;
    --destructive-foreground: 0 0% 94.902%;
    --border: 191.4286 58.8785% 20.9804%;
    --input: 191.4286 58.8785% 20.9804%;
    --ring: 180 77.1144% 60.5882%;
    --chart-1: 180 77.1144% 60.5882%;
    --chart-2: 180 50.6849% 42.9412%;
    --chart-3: 180 50.8197% 35.8824%;
    --chart-4: 184.3478 57.9832% 23.3333%;
    --chart-5: 185.2174 62.1622% 14.5098%;
    --sidebar: 196.3636 52.381% 8.2353%;
    --sidebar-foreground: 180 77.1144% 60.5882%;
    --sidebar-primary: 180 77.1144% 60.5882%;
    --sidebar-primary-foreground: 196.3636 52.381% 8.2353%;
    --sidebar-accent: 191.4286 58.8785% 20.9804%;
    --sidebar-accent-foreground: 180 77.1144% 60.5882%;
    --sidebar-border: 191.4286 58.8785% 20.9804%;
    --sidebar-ring: 180 77.1144% 60.5882%;
    --font-sans: Source Code Pro, monospace;
    --font-serif: Source Code Pro, monospace;
    --font-mono: Source Code Pro, monospace;
    --radius: 0.125rem;
    --shadow-2xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
    --shadow-xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
    --shadow-sm: 1px 1px 2px 0px hsl(180 70% 60% / 0.2),
      1px 1px 2px -1px hsl(180 70% 60% / 0.2);
    --shadow: 1px 1px 2px 0px hsl(180 70% 60% / 0.2),
      1px 1px 2px -1px hsl(180 70% 60% / 0.2);
    --shadow-md: 1px 1px 2px 0px hsl(180 70% 60% / 0.2),
      1px 2px 4px -1px hsl(180 70% 60% / 0.2);
    --shadow-lg: 1px 1px 2px 0px hsl(180 70% 60% / 0.2),
      1px 4px 6px -1px hsl(180 70% 60% / 0.2);
    --shadow-xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.2),
      1px 8px 10px -1px hsl(180 70% 60% / 0.2);
    --shadow-2xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.5);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
